@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><br></h1>
    
   <p class="btn-l"><a href="/Account/Register" class="btn btn-primary btn-lg">Become a Member &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>100% Whey Protein</h2>
        <p>
            Purto facer dicta id sed, no duo sanctus dissentias. Nonumes vivendo adipiscing ea eos. Mel exerci pericula et. Mel at enim patrioque appellantur.
        </p>
        <p><a class="btn btn-default" href="https://www.google.se/?gws_rd=ssl#safe=off&q=whey+protein">Buy NoW! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Training Trousers</h2>
        <p>Minim epicuri offendit ad ius. Qui an eruditi expetenda. Tale latine diceret qui et, ius wisi disputando ne. Vis numquam invenire ea, integre alterum honestatis id vis, eu nam expetendis inciderint.</p>
        <p><a class="btn btn-default" href="https://www.google.se/?gws_rd=ssl#safe=off&q=training+trousers">Buy NoW! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Push Ups Bench</h2>
        <p>Putant dictas philosophia ea his, te duo natum ornatus, mei assum virtute reformidans ut. Usu eu tamquam volutpat abhorreant. Ea nam euismod equidem pertinacia. Paulo integre adolescens mel et.</p>
        <p><a class="btn btn-default" href="https://www.google.se/?gws_rd=ssl#safe=off&q=decline+bench">Buy NoW! &raquo;</a></p>
    </div>
</div>